.item .content strong,
.field-span {
	display: 'inline-block';
	float: left;
	line-height: 1.8;
}
.field-label {
	width: 20%;
}

.field-span {
	width: 80%;
}

.avatar {
	border-radius: 50%;
	margin: 0 23px 0 0;
	width: 112px;
	height: 112px;
}

.mouse-pointer {
	cursor: pointer;
	border: 2px solid rgba(0, 0, 0, 0);
}

.navbar-nav > li {
	margin-left: 30px;
	margin-right: 30px;
}
